.expense-date {
  display: flex;
  flex-direction: column;
  width: 4.2rem;
  height: 3.3rem;
  background-color: #616161;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 0.5px solid whitesmoke;
}

.expense-date__month {
  font-size: 0.69rem;
  font-weight: 400;
}

.expense-date__year {
  font-size: 0.69rem;
  font-weight: 400;
}

.expense-date__day {
  font-size: 1.2rem;
  font-weight: 700;
}
