.expense-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.expense-item:hover {
  -webkit-box-shadow: 0 0 0.42rem 0.2rem rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 0.42rem 0.24rem rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 0.42rem 0.2rem rgba(0, 0, 0, 0.45);
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  font-size: 1rem;
  flex: 1;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  background-color: #9bc5c3;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
  }
}
